<% if !@resume.errors.empty? %>
   <div class = "alert alert-error">
      
      <ul>
         <% @resume.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
      </ul>
      
   </div>
<% end %>

<div class="well">
    <%= form_for @resume, html: { multipart: true } do |form| %>
        <%= form.label :name %>
        <%= form.text_field :name %>
        <br>
        <%= form.label :attachment %>
        <%= form.file_field :attachment %>
        <br>
        <%= form.submit "Save", class: "btn btn-primary" %>
    <% end %>
</div>
